@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --background-color: #FFFFFF;
  --footer-background-color: #2F303A;
  --footer-link-text-color: #FFFFFF;
  --footer-last-text-color: #757575;
  --footer-title-text-color: #FFFFFF;
  --title-text-color: #FFFFFF;
  --first-text-color: #212121;
  --last-text-color: #757575;
  --focus-text-color: #2196F3;
  --backgound-color: #2F303A;
  --hero-button-color-focus: #188CE8;
  --portfolio-border: #EEEEEE;
  --background-team-sec: #F5F4FA;
  /* svg */
  --hover-color: #2196F3;
  --primary-colo: #AFB1B8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.images {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: var(--first-text-color);
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: inherit;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web--color {
  color: var(--focus-text-color);
}

.logo__footer--color {
  color: var(--title-text-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header--aligment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.header__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:not(:last-child) {
  margin-right: 50px;
}
.header__link::after {
  position: absolute;
  content: "";
  left: 0;
  top: 96%;
  background-color: var(--focus-text-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
}
.header__link:focus, .header__link:hover {
  color: var(--focus-text-color);
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__menu {
  margin-left: 93px;
}

.header__link--current {
  color: var(--focus-text-color);
  opacity: 1;
}
.header__link--current::after {
  opacity: 1;
}

.address {
  display: flex;
  margin-left: auto;
  justify-content: center;
  text-align: center;
}

.address__item + .address__item {
  margin-left: 30px;
}

.address__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--last-text-color);
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--focus-text-color);
}

.address__svg {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  fill: currentColor;
}

.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
}

/* address */
.footer__address {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-link-text-color);
  text-decoration: none;
  display: inline-block;
}

.footer__link--color {
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  color: var(--footer-last-text-color);
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--color:hover, .footer__link--color:focus {
  color: var(--focus-text-color);
}

/* footer svg link */
.social {
  margin-left: 70px;
  margin-top: 10px;
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  text-align: center;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--title-text-color);
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--hover-color);
}

.social__svg {
  fill: currentColor;
}

.footer__form {
  position: relative;
  width: 570px;
  height: 86px;
  display: flex;
  align-items: flex-end;
  margin-left: 93px;
  margin-top: 10px;
}

.footer__label {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--backgound-color);
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__submit {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  background-color: var(--focus-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__submit:hover, .footer__submit:focus {
  background-color: var(--hero-button-color-focus);
}

.footer__send {
  margin-left: 10px;
}

.hero {
  background: var(--backgound-color);
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img.jpg);
  background-size: cover;
  background-color: #2f303a;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  background-color: var(--focus-text-color);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-button-color-focus);
}

.benefits {
  padding-bottom: 0;
}

.benefits__titile {
  visibility: hidden;
  font-size: 0;
}

.benefits__table {
  display: flex;
}

.benef__item {
  min-width: 270px;
}
.benef__item + .benef__item {
  margin-left: 30px;
}

.benefits__parahraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--last-text-color);
}

.benefits__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--background-team-sec);
}

.work {
  padding-top: 0;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work__table {
  display: flex;
}

.work__item {
  position: relative;
}
.work__item + .work__item {
  margin-left: 30px;
}

.work__text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--title-text-color);
}

.team {
  background-color: var(--background-team-sec);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team__table {
  display: flex;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-text-color);
}
.team__item + .team__item {
  margin-left: 30px;
}

.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--last-text-color);
  margin-bottom: 16px;
}

.team__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.team__meta + .team__meta {
  margin-left: 10px;
}

.team__link {
  display: flex;
  color: var(--primary-colo);
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  color: var(--title-text-color);
  background-color: var(--focus-text-color);
}

.team__svg {
  fill: currentColor;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--first-text-color);
}

.client__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client__item {
  border: 1px solid var(--primary-colo);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item + .client__item {
  margin-left: 30px;
}
.client__item:focus, .client__item:hover {
  border: 1px solid var(--hover-color);
}

.client__link {
  display: flex;
  width: 170px;
  height: 92px;
  color: var(--primary-colo);
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: var(--hover-color);
}

.client__svg {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .backdrop__modal {
  transform: translate(-50%, -35%) scale(0.9);
}

.backdrop__modal {
  position: absolute;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 45%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--title-text-color);
  transform: translate(-50%, -35%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button {
  display: block;
  position: absolute;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  background: var(--title-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
}
.backdrop__button:focus .backdrop__close, .backdrop__button:hover .backdrop__close {
  fill: var(--hover-color);
}

.backdrop__close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  padding-top: 40px;
  padding-bottom: 30px;
}

.callback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callback__field {
  position: relative;
}
.callback__field + .callback__field {
  margin-top: 28px;
}

.callback__label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--last-text-color);
}

.callback__input {
  margin: 0;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 31px;
  outline: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__input:not(:-moz-placeholder-shown) {
  border: 1px solid var(--hover-color);
}
.callback__input:not(:-ms-input-placeholder) {
  border: 1px solid var(--hover-color);
}
.callback__input:not(:placeholder-shown), .callback__input:focus, .callback__input:hover {
  border: 1px solid var(--hover-color);
}
.callback__input:focus ~ .callback__svg, .callback__input:hover ~ .callback__svg {
  fill: var(--hover-color);
}

.callback__svg {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__textarea {
  margin: 0;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.callback__textarea:not(:-moz-placeholder-shown) {
  border: 1px solid var(--hover-color);
}
.callback__textarea:not(:-ms-input-placeholder) {
  border: 1px solid var(--hover-color);
}
.callback__textarea:not(:placeholder-shown), .callback__textarea:focus, .callback__textarea:hover {
  border: 1px solid var(--hover-color);
}

.checkbox {
  margin-top: 25px;
  margin-bottom: 25px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__input:checked + .chackbox__icon {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.chackbox__topic {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--last-text-color);
}

.chackbox__icon {
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.callback__button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--focus-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__button:focus, .callback__button:hover {
  background-color: var(--hero-button-color-focus);
}

.chapter {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__title {
  visibility: hidden;
  font-size: 0;
}

.chapter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--first-text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow, border-radius;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chapter__button:focus, .chapter__button:hover {
  color: var(--title-text-color);
  background-color: var(--focus-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.chapter__item + .chapter__item {
  margin-left: 8px;
}

.portfolio__table {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__company {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}

.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:focus, .portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:focus .thubm__container, .portfolio__link:hover .thubm__container {
  transform: translateY(0%);
}

.portfolio__type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--last-text-color);
}

.portfolio__block {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border);
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thubm__container {
  position: absolute;
  display: flex;
  content: "";
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  align-items: center;
  justify-content: center;
}

.thubm__text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  max-width: 322px;
}/*# sourceMappingURL=main.css.map */