h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.images {
    display: block;
    min-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}