:root {

    --background-color: #FFFFFF;


    --footer-background-color: #2F303A;
    --footer-link-text-color: #FFFFFF;
    --footer-last-text-color: #757575;
    --footer-title-text-color: #FFFFFF;

   
    --title-text-color: #FFFFFF;
    --first-text-color: #212121;
    --last-text-color: #757575;
    --focus-text-color: #2196F3;
    --backgound-color: #2F303A;
    --hero-button-color-focus: #188CE8;
    --portfolio-border: #EEEEEE;
    --background-team-sec: #F5F4FA;
    /* svg */
    --hover-color: #2196F3;
    --primary-colo: #AFB1B8;
}

@mixin flex-aling-text {
    display: flex;
    text-align: center;
    justify-content: center;
}

@mixin flex-align-item {
    display: flex;
    align-items: center;
    justify-content: center;
}